{{ partial "head.html" . }}

<body>
<div id="container">
    {{ partial "header.html" . }}
    <section id="main" class="outer">
        {{ partial "article.html" . }}
        {{ if and (not .Params.nocomment) .Site.DisqusShortname }}
            {{ template "_internal/disqus.html" . }}
        {{ end }}


{{/* cpbotha isso comments: see https://posativ.org/isso/docs/configuration/client/ */}}
{{ if and .IsPage (ne .Params.comment false) -}}

        <style>
          .isso-comment .avatar img {max-width: 100%;}
          .isso-comment > div.text-wrapper > div.text p {margin-top: 1em;}
        </style>
    <script data-isso="/isso/"
            {{/* users can subscribe to be emailed when new comments are made */}}
            data-isso-reply-notifications="true"
            data-isso-avatar="false"
            data-isso-gravatar="true"
            {{/* without this, deeply nested comments are simply not shown! */}}
            data-isso-max-comments-nested="inf"
            data-isso-max-comments-top="inf"
            data-isso-require-email="true"
            data-isso-vote="false"
            src="/isso/js/embed.min.js"></script>

    {{/* cpbotha: add space for isso thread */}}
    {{/* cpbotha: SUPER NB - without title isso fails finding title and can't send email */}}
    <section data-title="{{ .Title }}" id="isso-thread"></section>
{{- end }}
        
    </section>
    {{ partial "footer.html" . }}
</div>
</body>
</html>
