{{/* cpbotha:
- expand ogimage base name to 800px resized version of resource image URL!
- change .Params.ogdescription to .Params.description
*/}}

<meta property="og:title" content="{{ if .Params.ogtitle }}{{ .Params.ogtitle }}{{ else }}{{ .Title }}{{ end }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="{{ .Permalink }}" />
    {{ if .Params.ogimage }}
    {{ $src := .Resources.GetMatch .Params.ogimage }}
    {{ if $src }}
      {{ $small := ($src.Resize "800x") }}
    <meta property="og:image" content="{{ $small.Permalink }}" />
    {{ end }}
    {{ end }}
